# AgriDex Frontend Environment Variables
VITE_SUPABASE_URL=https://yxdbvpzxkfptxoitseir.supabase.co
VITE_SUPABASE_ANON_KEY=Sb_publishable_2iL1pAVDMunWXz2rFFgqPw_C9R384xs
SUPABASE_URL=https://yxdbvpzxkfptxoitseir.supabase.co
SUPABASE_ANON_KEY=Sb_publishable_2iL1pAVDMunWXz2rFFgqPw_C9R384xs
